.details-container{
    
    height: 982px;
    display: flex;
    gap: 2rem;
    overflow: hidden;
}
.sidebar {
    width: 226px;
    height: 982px;
    flex-shrink: 0;
    border-radius: 0px 45px 45px 0px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.li-sidebar{
list-style-type: none;
padding: 0;
}
.sidebar li{
    margin-bottom: 2rem;
}
.sidebar-logo img{
    width: 50px;
    height: 50px;
}

.sidebar-logo{
    display: inline-flex;
    align-items: center;
    gap: 24px;
}
.movies-btn{
    width: 226px;
    height: 86px;
    flex-shrink: 0;
    background: rgba(190, 18, 60, 0.10);
}
.vector{
    width: 0px;
    height: 86.001px;
    transform: rotate(0.331deg);
    flex-shrink: 0;
    stroke-width: 6px;
    stroke: #BE123C;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
.series{
    width: 92px;
    height: 30px;
    flex-shrink: 0;
    color: #666;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.start{
    width: 170px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(190, 18, 60, 0.70);
    background: rgba(248, 231, 235, 0.40);
}
.start p{
    color: rgba(51, 51, 51, 0.80);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.start span{
    color: #666;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.start button{
    width: 112px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(190, 18, 60, 0.20);
}
.movie-content .mv-img{
    width: 1198px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 20px;
}


.bx-play{
    padding: 20px;
    color: #fff;
    font-size: 60px;
    
}
.movie-content .play-now{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.5);
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 12rem;
    left: 35rem;

}
.movie-content{
    position: relative;
}
.current-description{
    display: flex;
    gap: 8rem;
}
.movie-information{
    width: 774px;
    height: 150px;   
   
}
.current-description h3{
    color: #404040;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.current-description p{
    color: #B91C1C;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
    
}
.movie-about{
    color: #333;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.director-name {
    /* Add your styles here */
    color: #BE123C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.credits p{
    color: #333;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.movie-rate{
    display: flex;
    align-items: center;
    width: 785px;
    height: 55px;
    flex-shrink: 0;
}
.movie-rate p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 253px;
    height: 55px;
    border-radius: 10px;
    background: #BE123C;
    color: #fff;
}
.styled-select {
    width: 450px;
    height: 55px;
    border: 1px solid #b5b4b4;
    font-size: 16px;
    border-left: none;
}

.styled-select option {
    padding: 10px;
}
.single-movie-details{
    display: flex;
    gap: 2rem;
}
.more-movies{
    width: 1512px;
    height: 982px;
}
.stars-rating{
    display: flex;
}
.similar-movies {
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 229px;
    position: relative;
}
.mv-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 360px;
    height: 42px;
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.50);
    backdrop-filter: blur(2px);
    color: #fff;
    position: absolute;
    bottom: 93px;
    margin-left: 2px;
}
.list-show{
    color: white;
    font-size: 30px;
}
.similar-movies img {
    width: 120px;
    height: 229px;
    flex: 1;
    margin-left: 2px;
    object-fit: cover;
}
.more-movies{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.more{
display: flex;
flex-direction: column;
gap: 1rem;
}
.show-time{
    width: 360px;
    height: 55px;
    border-radius: 10px;
    background: #BE123C;
    color: #fff;
    border: none;
    
}
.watch-more{
    width: 360px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #BE123C;
    background: rgba(190, 18, 60, 0.10);
}