.poster-img{
position: relative;
}
.watchlist i{
    color:#ffffffc0;
    font-size: 25px;
    padding: 3px;
    /* background-color: rgb(235, 227, 227); */
    border-radius: 50%;
}
.watchlist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 50%;
position: absolute;
top: 1rem;
right: 1rem;

}
.movie-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 5rem;
}
.movie-card img{
    width: 300px;
    height: 400px;
   
}
.movie-card p{
    color: var(--gray-400, #9CA3AF);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.movie-card span{
    color: var(--gray-900, #111827);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.movie-info{
    display: flex;
    width: 215px;
    justify-content: space-between;
    gap: 13rem;
  
}
.movie-rates img{
    width: 35px;
    height: 17px;
}
.movie-rates{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 35px;
    height: 17px;
 
}
.movie-tomatoe img{
    width: 16px;
    height: 17px;
}
.movie-tomatoe{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 16px;
    height: 17px;
}